<div class="list-group-item <%= 'completed' if task.completed? %>" data-controller="task" data-id="<%= task.id %>">
  <div class="custom-control custom-checkbox">
    <input  type="checkbox"
            class="custom-control-input"
            id="<%= dom_id(task) %>"
            data-reflex="change->task#toggle"
            data-id=<%= task.id %>
            <%= "checked" if task.completed_at.present? %>
    >
      <label for="<%= dom_id(task) %>" class="custom-control-label">
        <% if task.completed_at.present? %>
          <del><%= task.name %></del>
        <% else %>
          <%= task.name %>
        <% end %>
        <% if task.completed? %>
          <span class="text-muted ml-2">Completed by: <%= task.completer_name %></span>
        <% end %>
      </label>

  </div>
<button type="button" data-action="click->task#delete" data-id="<%= task.id %>">Remove</button>

  <button class="text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= task.id %>">Edit Button</button>
  <div class="collapse" id="collapse-<%= task.id %>">
    <%= select_tag :assignee, options_from_collection_for_select(User.all, :id, :name, task.assignee_id), prompt: 'Assign task...', data: { reflex: 'change->Task#assign', id: task.id } %>
  </div>
</div>

