<div class="list-group-item <%= 'completed' if task.completed? %>" data-controller="task" data-id="<%= task.id %>">
  <div class="custom-control custom-checkbox">
    <input  type="checkbox"
            class="custom-control-input"
            id="<%= dom_id(task) %>"
            data-reflex="change->task#toggle"
            data-id=<%= task.id %>
            <%= "checked" if task.completed_at.present? %>
    >
    <% if task.completed_at.present? %>
      <label for="<%= dom_id(task) %>" class="custom-control-label">
        <del><%= task.name %></del>
      </label>
    <% else %>
      <label for="<%= dom_id(task) %>" class="custom-control-label"><%= task.name %></label>
    <% end %>
  </div>
  <button type="button" data-action="click->task#delete" data-id="<%= task.id %>">Remove</button>
</div>

