<div
  class="list-group-item <%= 'complete' if task.completed? %>"
  data-controller="task"
  data-id="<%= task.id %>"
  id="<%= dom_id(task) %>"
>
  <div class="custom-control custom-checkbox d-flex align-items-baseline" data-task-target="checkbox">
    <input  type="checkbox"
            class="custom-control-input"
            style="margin-right: 0.5rem;"
            id="<%= dom_id(task) %>_checkbox"
            data-reflex="change->task#toggle"
            data-id=<%= task.id %>
            <%= "checked" if task.completed_at.present? %>
    >
    <div class="d-flex w-100 justify-content-between">
      <label for="<%= dom_id(task) %>_checkbox" class="custom-control-label" style="max-width: 60%">
        <% if task.completed_at.present? %>
          <del><%= task.name %></del>
        <% else %>
          <%= task.name %>
        <% end %>
      </label>
      <% if task.completed? %>
        <span class="text-muted ml-2"><%= task.completer_name %></span>
      <% elsif task.assignee_id.present? %>
        <span class="text-muted ml-2" id="task-<%= task.id %>-assignee"><div><%= task.assignee_name %></div></span>
      <% end %>
    </div>
  </div>

  <div style='width: fit-content; margin-left: auto;'>
    <button type="button" data-action="click->task#delete" data-id="<%= task.id %>">Remove</button>
    <button class="text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= task.id %>">Edit Button</button>
  </div>

  <div class="collapse" id="collapse-<%= task.id %>" data-task-target="collapse">
    <%= bootstrap_form_with model: task, url: '', layout: :inline, data: { reflex: 'submit->Task#update', id: task.id } do |form| %>
      <div class="form-group d-flex my-2">
        <%= form.text_field :name, skip_label: true, class: 'flex-grow-1', id: "task_name_#{task.id}", wrapper: false, style: 'margin-right: 0.5rem;' %>
        <%= form.primary "Update" %>
      </div>
    <% end %>
    <%= select_tag :assignee, options_from_collection_for_select(User.all, :id, :name, task.assignee_id), prompt: 'Assign task...', data: { reflex: 'change->Task#assign', id: task.id } %>
  </div>
</div>

